
.ctrl {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    font-size: 30px;
    margin: 10px 80px 10px 120px;
}
.ctrl__counter {
    position: relative;
    width: 100px;
    height: 60px;
    color: #333C48;
    text-align: center;
    overflow: hidden;
    border: 1px solid #130e3e;
}
.ctrl__counter.is-input .ctrl__counter-num {
    visability: hidden;
    opacity: 0;
    transition: opacity 100ms ease-in;
}
.ctrl__counter.is-input .ctrl__counter-input {
    visability: visible;
    opacity: 1;
    transition: opacity 100ms ease-in;
}
.ctrl__counter-input {
    background: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    box-shadow: none;
    outline: none;
    border: none;
    color: #333C48;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    visability: hidden;
    opacity: 1;
    top: -20px;
    transition: opacity 100ms ease-in;
}
.ctrl__counter-num {
    position: absolute;
    z-index: 1;
    top: -20px;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 100px;
    visability: visible;
    opacity: 1;
    transition: opacity 1000ms ease-in;
}
.ctrl__counter-num.is-increment-hide {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-animation: increment-prev 100ms ease-in;
    animation: increment-prev 100ms ease-in;
}
.ctrl__counter-num.is-increment-visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: increment-next 100ms ease-out;
    animation: increment-next 100ms ease-out;
}
.ctrl__counter-num.is-decrement-hide {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-animation: decrement-prev 100ms ease-in;
    animation: decrement-prev 100ms ease-in;
}
.ctrl__counter-num.is-decrement-visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: decrement-next 100ms ease-out;
    animation: decrement-next 100ms ease-out;
}
.ctrl__button {
    width: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #130e3e;
    transition: background-color 100ms ease-in;
}
.ctrl__button:hover {
    background-color: #130e3e;
    transition: background-color 100ms ease-in;
}
.ctrl__button:active {
    background-color: #130e3e;
    transition: background-color 100ms ease-in;
}
.ctrl__button--decrement {
    border-radius: 5px 0 0 5px;
}
.ctrl__button--increment {
    border-radius: 0 5px 5px 0;
}

@-webkit-keyframes decrement-prev {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes decrement-prev {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes decrement-next {
    from {
        opacity: 0;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}
@keyframes decrement-next {
    from {
        opacity: 0;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}
@-webkit-keyframes increment-prev {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes increment-prev {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes increment-next {
    from {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}
@keyframes increment-next {
    from {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}





.row-30 {
    margin-bottom: -30px;
}
.row-15 {
    margin-bottom: -15px;
}

.bg-gray-100 .heading-component {
    border-bottom-color: #d7d7d7;
}

.heading-component {
    position: relative;
    line-height: 1;
    border-bottom: 1px solid #e1e1e1;
}
.heading-component-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.heading-component-title {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    line-height: 26px;
    color: #130e3e;
}
.heading-component-title::before {
    content: '';
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 0;
    border-left: 4px solid #130e3e;
    pointer-events: auto;
}

.heading-component-inner > * {
    margin-bottom: 11px;
    color: #130e3e;
}
.heading-component + .sport-table-header {
    margin-top: 30px;
}

.sport-table {
    background-color: #fff;
}
.sport-table-header {
    padding: 12px 23px 8px 23px;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    background-color: #130e3e;
}
.site-color {
    color: #2ecc71;
}

.sport-table-title {
    border-right: 1px solid #e1e1e1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}
.sport-table-title-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sport-table-icon {
    padding-right: 13px;
    padding-left: 13px;
}

.sport-table-tr {
    padding: 11px 15px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

@media (min-width: 992px){
    .sport-table-tr {
        padding-left: 0;
        padding-right: 0;
    }
}

.sport-table-title-team {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #151515;
}
@media (min-width: 992px){

    .sport-table-wager {
        flex-wrap: nowrap;
    }
    .sport-table-wager-button {
        flex-basis: 31.1%;
        max-width: 31.1%;
    }
}

.sport-table-wager {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
}
.sport-table-wager-button {
    flex-basis: 31.1%;
    max-width: 31.1%;
}
.sport-table-wager-button, .sport-table-wager-button:focus, .sport-table-wager-button:active {
    color: #151515;
    background-color: #eaecee;
}
.sport-table-wager-button,
.sport-table-wager-button:focus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 0.025em;
    text-align: center;
    margin: 0px 1px;
    background: #130e3e;
    color: #fff;
}


.sport-table-wager-button a:hover {
    background: #2ecc71;
    color: #fff;
}
.sport-table-wager-button span {
    display: block;
    line-height: 1.2;
}
.sport-table-wager-button-count {
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
}

@media (min-width: 768px){
    .sport-table-title {
        border-right: 1px solid #e1e1e1;
    }
}
@media (max-width: 767px){

    .sport-table-title {
        border-right: transparent;
    }
}



/*
Modal CSS
 */

.modal-sport .modal-header {
    background-color: #130e3e;
    color: #fff;
    border: 0;
    border-radius: 0;
}
.modal-sport .close {
    padding: 15px 10px;
    margin: -15px -15px -15px auto;
    font-size: 28px;
    color: inherit;
    opacity: 1;
    cursor: pointer;
    transition: .3s ease-out color;
    text-shadow: none;
}

.modal-sport .modal-body {
    padding-top: 25px;
    padding-bottom: 30px;
    text-align: center;
}

.modal-sport .modal-content {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.modal-sport-confrontation, .modal-sport-wager-title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.modal-sport-wager {
    color: #2ecc71;
}
.modal-sport-confrontation, .modal-sport-wager-count {
    color: #151515;
}
.modal-sport-confrontation, .modal-sport-wager-count {
    color: #151515;
}
.modal-sport-live {
    margin-top: 5px;
    letter-spacing: 0.05em;
}


.modal-sport .modal-footer {
    padding: 22px 30px;
    flex-direction: column;
    border-top: 1px solid #cccccc;
}
.modal-sport-place {
    padding: 18px 32px !important;
    margin: 21px 0 10px !important;
}

.progress-button-item .bet_button, .progress-button-item .progress {
    width: 100%;
}
.progress-button-item .progress {
    margin: 15px 0 0;
}
.sport-table-wager-button.progress-button-item {
    background: transparent;
}
.progress-button-item .bet_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 0.025em;
    text-align: center;
    margin: 0px 1px;
    background: #130e3e;
    color: #fff;
}
.sport-table-wager {
    flex-wrap: wrap;
}
.progress-button-item {
    max-width: 100%;
    flex-basis: 33.33%;
}
.progress{
    background: #c5c4d2;
}

@media screen and (max-width: 575px) {
    .progress-button-item {
        flex-basis: 50%;
    }
}
@media screen and (max-width: 399px) {
    .progress-button-item {
        flex-basis: 100%;
    }
}
.sport-table-wager {
    margin: 0 -7px;
}
